.topo-site {
    background-color: #231F20;
    color: #EFE6DD;
}
.topo-site a {
    text-decoration: none;
    color: #EFE6DD;
    transform: 200 ms;
}
.topo-site a:hover {
    color: #F3DFA2;
}
.topo-site .input-busca {
    box-shadow: none;
    border-color: transparent;
}
.topo-site .btn-busca {
    position:absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 100%;
    background-color: transparent;
    border: none;
}
.topo-site .dropdown-menu {
    background-color: #231F20;
}
.lista-categoria {
    list-style-type: none;
}


.conteudo-site .seta{
    width: 6%;
}
.conteudo-site .card-body .preco {
    font-weight: bold;
    font-size: 1.4em;
}


.rodape-site {
    background-color: #EFE6DD;
    color: #827171;
}
.rodape-site .pgto-social a,
.rodape-site .pgto-social svg {
    color: #777;
    text-decoration: none;
    transition: 150ms;
}

.rodape-site .pgto-social a:hover,
.rodape-site .pgto-social svg:hover {
    color: #444;
}
.rodape-site .info-matriz {
    font-size: .8em;
}

/* CLASSES DE APOIO */
.pg-login .btn-conta {
    margin-top: 5em;
}