.topo-site {
    background-color: #231F20;
    color: #EFE6DD;
}
.topo-site a {
    text-decoration: none;
    color: #EFE6DD;
    transform: 200 ms;
}
.topo-site a:hover {
    color: #F3DFA2;
}
.topo-site .input-busca {
    box-shadow: none;
    border-color: transparent;
}
.topo-site .btn-busca {
    position:absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 100%;
    background-color: transparent;
    border: none;
}